:root {
  --paper-color: #ffffe1;
}

html {
  background-color: black;
  /*scroll-snap-type: y mandatory;*/
}

body {
  margin: 0;
  /*padding: 0 0 900px 0;*/
  overflow-x: hidden;
  font-family: "Caveat", cursive;
  font-size: 15pt;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 100vh,
    rgba(255, 255, 255, 0.5) 200vh,
    rgba(255, 255, 255, 0.5) 100%
  );
}

/******** Scrollbar ******/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ----- HELPING CLASSES ----- */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  background-color: var(--paper-color);
}

.section_container {
  /*scroll-snap-align: start;*/
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  height: 100vh;
  width: 100vw;
}

/* ----- SPLASH VIDEO ----- */

.background_video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  object-fit: cover;
  opacity: 0.5;
}

.headline {
  /*background-color: rgba(0, 0, 0, 0.5);*/
  padding: 50px;
  color: white;
  max-width: 90vw;
  /*font-size: 5.5rem;*/
  width: fit-content;
  border-radius: 3px;
  text-align: center;
  font-weight: 700;
}

.headline svg {
  width: 100%;
}

.apple {
  position: absolute;
  top: 60vh;
  left: 50%;
  transform: translateX(-50%) rotate(10deg);
  width: 500px;
}

.apple svg {
  width: 100%;
}

/* ----- MUSIC ----- */

.music {
  width: 150px;
  opacity: 0;
  position: fixed;
  top: 0;
  margin: 20px;
  z-index: 10;
  animation: fade_in_kf 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.music img {
  width: 100%;
}

.music:hover {
  cursor: pointer;
  transform: rotate(10deg);
}

.music_on_button {
  display: none;
}

/* ----- RULES ----- */

.rules {
  position: relative;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  background-image: url("elements/paper.svg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 350px;
  font-size: 2rem;
}

.bloodstain_note {
  position: absolute;
  top: 200px;
  left: 200px;
}

.rules p {
  margin: 0;
}

.rules svg {
  width: 100%;
}

/* ----- BOOK ----- */

.close_button {
  display: none;
}

.book_container {

  z-index: 1;
  box-sizing: border-box;
  background-image: url("elements/Book_v1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(100vh * 1.35);
  height: 100vh;
}

.book_content_container {
  margin-top: 40px;
  display: flex;
}

.book_timeline {
  padding-top: 20px;
  height: 80vh;
  width: 43%;
  padding-left: 2%;
  overflow: hidden;
  overflow-y: scroll;
}

.book_infobox {
  padding-top: 50px;
  margin: 0 auto;
  padding-left: 6%;
  height: 79vh;
  width: 39%;
  overflow: hidden;
  overflow-y: scroll;
}

.timeline_item {
  display: flex;
  margin: 10px 0;
}

.timeline_text_container {
  cursor: pointer;
}

.fatality_item_container {
  max-width: 100%;
  margin: 0 10%;
}

.fatality_item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.not_touch_device_item .timeline_item:hover {
  transform: scale(1.1) translateX(7px);
}

.timeline_icon_container {
  position: relative;
  width: 50px;
  height: 100%;
  display: flex;
  vertical-align: center;
  margin-right: 20px;
}

.timeline_icon {
  height: 40px;
  width: 40px;
  padding: 5px;
}

.timeline_name {
  height: 40px;
  max-width: 100%;
  flex: 1;
}

.timeline_name svg {
  max-width: 100%;
  height: 100%;
  width: auto;
}

.timeline_death_date {
  color: dimgrey;
}

.timeline_line {
  position: relative;
  background-color: black;
  margin-left: 20px;
  border-radius: 400px;

  animation-name: line_length_kf;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/* ----- INFOBOX ----- */

.close_infobox_div {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.close_infobox_div.mobile {
  display: none;
}

.infobox {
  width: 400px;
  height: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}

.infobox b {
  font-size: 1.4rem;
  font-family: "Caveat", cursive;
  font-weight: 700;
}

.infobox_image_container {
  overflow: hidden;
  animation-name: slide_in_kf;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: 0 50%;
}

.infobox_name {
  height: 70px;
  text-align: center;
  max-width: 100%;
}

.infobox_name svg {
  height: 100%;
  max-width: 100%;
  width: auto;
}

.infobox_details {
  opacity: 0;
  margin: 10px 0;
  animation-name: fade_in_kf;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/* ----- FOOTER ----- */

footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 20px 0 50px 0;
}

.footer_content {
  text-align: left;
  width: fit-content;
  padding: 20px;
}

footer p {
  margin: 0;
}

footer h3 {
  margin: 10px 0 0 0;
}

/******* Blood ******/
#bloodstain {
  position: absolute;
  left: 5vw;
}
#blood1 {
  animation: blood 4s ease-in-out infinite;
}

#blood2 {
  animation: blood 4s ease-in-out infinite 1s;
}

#blood3 {
  animation: blood 4s ease-in-out infinite 2s;
}

/* ----- KEYFRAMES ----- */

@keyframes blood {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
    transform: scale3d(1, 1.1, 4);
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide_in_kf {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes fade_in_kf {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes line_length_kf {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

@keyframes fadeinheadline {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----- INTERSECTION OBSERVER ----- */

.observation_content {
  color: transparent;
  line-height: 75px;
}

.fatality_item {
  display: none;
}

.timeline_line_container {
  display: none;
}

.visible .observation_content {
  display: none;
}

.visible .fatality_item {
  display: flex;
}

.visible .timeline_line_container {
  display: block;
}

.observe_this.fade_in {
  transition: 2s;
  opacity: 0;
}

.observe_this.fade_in.visible {
  opacity: 1;
}

/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 1300px) {
  .book_container {
    transform: none;
  }

  .book {
    transform: none;
  }
  .music {
    width: 120px;
    right: 0;
    top: 10px;
    margin: 0;
  }
}

@media screen and (max-width: 1199px) {
  .book_container {
    height: 90vh;
    width: 90vw;
    background-image: none;
    padding: 0;
    background-color: var(--paper-color);
  }

  .book_content_container {
    margin: 2vh 0;
  }

  .book_timeline {
    height: 86vh;
    padding: 0;
    width: 40vw;
  }

  .book_infobox {
    padding: 0 0 0 3vw;
    width: 46vw;
    height: 86vh;
  }
}

@media screen and (max-width: 899px) {
  /* ----- CLOSING BUTTON ----- */
  .close_button {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 10;
  }

  /* ----- TIMELINE ----- */
  .book_timeline {
    width: 95%;
    height: auto;
  }

  .book_container {
    height: auto;
  }

  .book_section {
    height: auto;
  }


  /* ----- INFOBOX ----- */

  .infobox {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 5vh;
    left: 10vw;
    width: 80vw;
    max-height: 90vh;
    background-color: var(--paper-color);
    border: 5px solid black;
    border-radius: 3px;
    height: auto;
    overflow-y: scroll;
  }

  .close_infobox_div {
   display: none;
  background-color: rgb(0,0,0,.2);
  }

  .infobox_image {
    max-width: 100%;
  }

  .infobox_name {
    height: 100px;
    text-align: center;
    max-width: 100%;
  }

  .infobox_details {
    text-align: left;
  }

  /* ----- HELPING CLASSES ----- */

  .mobile_hide_overflow {
    overflow: hidden;
  }

  .mobile_hide {
    display: none;
  }

  .mobile_show {
    display: block;
  }

  .headline {
    padding: 0;
  }

  /* ----- RULES ----- */

  .rules {
    padding-bottom: 100px;
    width: 600px;
    height: 200px;
  }

  .rules p {
    width: 70%;
    text-align: center;
  }

  .bloodstain_note {
    left: auto;
    right: 50px;
    top: auto;
    bottom: 0;
    width: 20%;
  }

  /* ----- FOOTER ----- */
  #bloodstain {
    left: auto;
    right: 0;
    width: 170px;
  }

  #bloodstain svg {
    height: 100px;
  }

  /* ----- ANIMATION ----- */
  @keyframes slide_in_kf {
    0% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(1);
    }
  }
}

@media screen and (max-width: 767px) {
  .apple {
    width: 150px;
  }

  .music {
    right: 0;
    width: 120px;
  }
}

@media screen and (max-width: 600px) {
  /* ----- RULES ----- */

  .rules {
    background-image: none;
    background-color: var(--paper-color);
    height: auto;
    margin: 5%;
    padding: 20px 0;
  }

  .rules p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
  }

  .bloodstain_note {
    top: 0;
    bottom: auto;
    right: 0;
    height: 100px;
    opacity: 0.5;
  }

  .bloodstain_note svg {
    height: 70px;
  }
}
