
/*----- General -----*/

:root {
    --background-100: #ffffff;
    --background-200: #b5cddb;
    --background-300: #28292c;
    --headline-font:'Cutive Mono', monospace;
    --headline-font-weight: 300;
    --standard-shadow: 0 0 10px grey;
    --main-font-color: #373d46;
}

html {
    color: var(--main-font-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 3.5rem;
    margin: 0;
    font-family: var(--headline-font);
    font-weight: var(--headline-font-weight);
    letter-spacing: -3px;
}

h2 {
    margin: 0;
    font-size: 2.5rem;
    font-family: var(--headline-font);
    font-weight: var(--headline-font-weight);
    letter-spacing: -2px;
}

h3 {
    margin: 0;
    font-size: 2rem;
    font-family: var(--headline-font);
    font-weight: var(--headline-font-weight);
    letter-spacing: -2px;
}

p {
    font-size: 1.2rem;
    /*margin: 0;*/
}


/*----- Navigation -----*/

header {
    background-color: var(--background-300);
    color: white;
    position: fixed;
    width: 100vw;
    z-index: 100;
}

nav {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header img {
    height: 29px;
    padding: 20px 0 20px 8px;
}

header a {
    text-decoration: none;
    color: #ccc;
    font-size: 1.3rem;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.videoportfolio_link {
    padding: 20px;
    font-weight: bold;
    line-height: 31px;
}

.videoportfolio_link:hover {
    background-color: #373d46;
}


/*----- Footer -----*/

footer {
    background-color: var(--background-300);
    color: #ccc;
    padding: 30px 0;
    font-family: var(--headline-font);
    font-size: 1.1rem;
    letter-spacing: -1px;
}

.footer__content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer p {
    margin: 5px;
}


/*----- Video -----*/

/*width="560" height="315"*/

.campaign_video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.campaign_video iframe,
.campaign_video object,
.campaign_video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*----- Main body -----*/


.main__background_splash {
    padding-top: 78px;
    background-color: #8c9eb4;
}

.splash {
    max-width: 1280px;
    margin: 0 auto;
}

.splash img {
    margin: 0 auto;
    width: 100%;
    max-height: 500px;
}

.main__background_1 {
    background-color: var(--background-200);
}

.main__background_2 {
    background-color: var(--background-100);
}

.main__content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 0;
}


/*----- QUIZ -----*/

.quiz {
    height: 420px;
    margin: 0 auto;
    border-radius: 3px;
    background-color: #cfcc81;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: var(--standard-shadow);
    font-size: 1.2rem;
    flex-direction: column;

}

.start_quiz {
    display: block;
    background-color: darkseagreen;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    font-family: var(--headline-font);
    box-shadow: var(--standard-shadow);
}

.question_container {
    width: 100%;
}

input[type=submit] {
    display: block;
    margin-top: 10px;
    background-color: darkseagreen;
    padding: 7px 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: var(--standard-shadow);
}

hr {
    border: none;
    border-bottom: 1px solid var(--main-font-color);
    box-shadow: none;
    opacity: 0.5;
}

.error_text {

    font-size: 0.9rem;
    color: #913219;
    height: 0.9rem;
    margin-top: 10px;
    width: 100%;
}

.correct {
    color: darkgreen;
}

.incorrect {
    color: darkred;
}

/*----- Helpers -----*/

.hidden {
    display: none;
}

.narrow {
    width: 50%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex_one {
    flex: 1;
}

.flex_one_a_half {
    flex: 1.5;
}

.flex_one:first-child {
    margin-right: 10px;
}

/*----- Media queries -----*/

@media only screen and (max-width: 1320px) {
    .main__content,
    .footer__content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 1023px) {
    .main__content {
        width: 80%;
    }
    .flex {
        flex-direction: column;
    }

    .flex_one {
        margin: 0;
    }
}

@media only screen and (max-width: 767px) {
    .main__content {
        width: auto;
    }

    .footer__content {
        flex-direction: column;
        align-items: flex-start;

    }

}

@media only screen and (max-width: 350px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .videoportfolio_link {
        padding: 0 0 10px 0;
    }

    header img {
        padding: 15px;
    }

}

/*----- infografik -----*/
#container_infografik {
    width: 100%;
}

#kakediagram_1 {
    width: 50%;
    margin: -7% auto 0 auto;
    padding: 10%;
    position: relative;
}

#kakediagram_2 {
    width: 50%;
    margin: -20% auto -5% auto;
    padding: 10%;
    padding-bottom: 5vw;
    position: relative;
}

#piechart {
    border-radius: 50%;
    transform: rotate(-90deg);
    background: #6A3937;
}

#piechart_2 {
    border-radius: 50%;
    transform: rotate(-90deg);
    background: #8C9EB4;
    margin-top: 5vw;
}

.pie1 {
    stroke: #D6D84F;
    stroke-width: 100;
    fill: none;
    stroke-dasharray: 68 calc(100*22/7);
    /*		22/7=pi*/
}

.pie2 {
    stroke: #3B0D11;
    stroke-width: 100;
    fill: none;
    stroke-dasharray: 54 calc(100*22/7);
    stroke-dashoffset: -68;
    /*		22/7=pi*/
}

.pie3 {
    stroke: #8C9EB4;
    stroke-width: 100;
    fill: none;
    stroke-dasharray: calc(100*22/7);
    stroke-dashoffset: -198;
    /*		22/7=pi*/
}

.pie4 {
    stroke: #D6D84F;
    stroke-width: 100;
    fill: none;
    stroke-dasharray: 75 calc(100*22/7);
    stroke-dashoffset: -15;
    /*		22/7=pi*/
}

#arm,
#ben,
#hoved,
#pil1,
#pil2,
#pil3,
#pil4,
#pil5,
#pil6,
#hoved_m_hjelm,
#hoved_u_hjelm {
    background-repeat: no-repeat;
    position: absolute;
}

#arm {
    background-image: url(svg/arm.svg);
    width: 22%;
    height: 22%;
    top: 10%;
    left: 0;
}

#ben {
    background-image: url(svg/ben.svg);
    width: 32%;
    height: 32%;
    top: 68%;
    left: 6%;
}

#hoved {
    background-image: url(svg/hoved.svg);
    width: 15%;
    height: 15%;
    top: 10%;
    left: 80%;
}

#hoved_m_hjelm {
    background-image: url(svg/hoved%20med%20hjelm.svg);
    width: 20%;
    height: 20%;
    top: 19%;
    left: 84%;
}

#hoved_u_hjelm {
    background-image: url(svg/hoved%20uden%20hjelm.svg);
    width: 20%;
    height: 20%;
    top: 77%;
    left: 82%;
}

#pil1 {
    background-image: url(svg/pil%20venstre%20ned.svg);
    width: 20%;
    height: 20%;
    top: 21%;
    left: 61%;
    z-index: 2;
}

#pil2 {
    background-image: url(svg/pil%20venstre%20opp.svg);
    width: 20%;
    height: 20%;
    top: 59%;
    left: 69%;
    z-index: 2;
}

#pil3 {
    background-image: url(svg/pil%20h%C3%B8yre.svg);
    width: 25%;
    height: 25%;
    top: 75%;
    left: 21%;
    z-index: 2;
    transform: rotate(340deg);
}

#pil4 {
    background-image: url(svg/pil%20h%C3%B8yre%20ned.svg);
    width: 20%;
    height: 20%;
    top: 22%;
    left: 16%;
    z-index: 2;
}

#pil5 {
    background-image: url(svg/pil%20venstre%20ned.svg);
    width: 20%;
    height: 20%;
    top: 35%;
    left: 65%;
    z-index: 2;
}

#pil6 {
    background-image: url(svg/pil%20venstre%20opp.svg);
    width: 20%;
    height: 20%;
    top: 69%;
    left: 62%;
    z-index: 2;
}

.tekst_infografik,
.tekst_infografik2,
.tekst_infografik3,
.tekst_infografik4,
.tekst_infografik5,
.tekst_infografik6,
.tekst_infografik7 {
    position: absolute;
    z-index: 2;
}

.tekst_infografik {

    top: 70%;
    left: 78%;
}

.tekst_infografik h2 {
    font-weight: 600;
}

.tekst_infografik2 {
    top: 35%;
    left: 54%;
    color: white;
}

.tekst_infografik3 {
    top: 48%;
    left: 63%;
    color: white;
}

.tekst_infografik4 {
    top: 58%;
    left: 44%;
    color: white;
}

.tekst_infografik5 {
    top: 38%;
    left: 34%;
    color: white;
}

.tekst_infografik6 {
    top: 43%;
    left: 56%;
    color: white;
}

.tekst_infografik7 {
    top: 60%;
    left: 35%;
    color: white;
}

@media only screen and (max-width: 600px) {

    .tekst_infografik {

        top: 70%;
        left: 78%;
    }

    .tekst_infografik2 {
        top: 25%;
        left: 52%;
        color: white;
    }

    .tekst_infografik3 {
        top: 43%;
        left: 63%;
        color: white;
    }

    .tekst_infografik4 {
        top: 58%;
        left: 44%;
        color: white;
    }

    .tekst_infografik5 {
        top: 37%;
        left: 24%;
        color: white;
    }

    .tekst_infografik6 {
        top: 38%;
        left: 56%;
        color: white;
    }

    .tekst_infografik7 {
        top: 60%;
        left: 35%;
        color: white;
    }

}
